.container {
  background-color: rgb(255, 214, 42);
  height: 300px;
  display: flex;
  padding-left: 0;
  align-items: flex-end;
  justify-content: flex-end;
}

.item {
  background-color: rgb(176, 42, 255);
  height: 100px;
  width: 100px;
  list-style-type: none;
  margin-right: 5px;
}
