form {
  text-align: left;
  width: 200px;
  font-size: 16px;
}

input {
  font-size: 18px;
}
section {
  margin: 10px 20px;
}

input[type='submit'] {
  margin: 10px 20px;
}

select {
  font-size: 14px;
  width: 80px;
}

label {
  margin-right: 10px;
}
